<div id="srFooter" class="sr_footer">
  <div class="sr_footer-top">
    <a href="" class="sr_footer-logo-link"></a>
    <ul class="sr_footer-links-list">
      <li class="sr_footer-links-list--item">
        <a href="https://www.ey.com/en_uk/legal-and-privacy" class="sr_footer-links-list--link">Legal and privacy</a>
      </li>
      <li class="sr_footer-links-list--item">
        <a href="https://www.ey.com/en_uk/ey-modern-slavery-statement" class="sr_footer-links-list--link">Modern slavery statement</a>
      </li>
      <li class="sr_footer-links-list--item">
        <a href="https://www.ey.com/en_uk/connect-with-us" class="sr_footer-links-list--link">Connect with us</a>
      </li>
      <li class="sr_footer-links-list--item">
        <a href="https://login.ey.com/myey/login" class="sr_footer-links-list--link">My EY</a>
      </li>
      <li class="sr_footer-links-list--item">
        <a href="https://www.ey.com/en_uk/locations" class="sr_footer-links-list--link">Our locations</a>
      </li>
      <li class="sr_footer-links-list--item">
        <a href="https://www.ey.com/en_uk/sitemap" class="sr_footer-links-list--link">Site Map</a>
      </li>
    </ul>
  </div>
  <div class="sr_footer-bottom">
    <div class="sr_footer-legal">EY refers to the global organization, and may refer to one or more, of the member firms of Ernst & Young Global Limited, each of which is a separate legal entity. Ernst & Young Global Limited, a UK company limited by guarantee, does not provide services to client</div>
    <div class="sr_footer-socials-list">
      <li class="sr_footer-socials-list--item">
        <a href="https://www.facebook.com/EY" class="sr_footer-socials-list--link">
          <img src="../../assets/Images/facebook.png" alt="facebook" class="sr_footer-socials-list--img">
        </a>
      </li>
      <li class="sr_footer-socials-list--item">
        <a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQFzjk__h5c35QAAAYMOdbpgyM2LrC1gS5Hwitp9zmB2xGzO4TiOocAIaI7E42I2ghMO50o6KDIOV4JSSVs2hmIbbJfdg2uatLDocoEzGxByOnnVn4tMcgs-FjnJW1YP-ycRC_Q=&original_referer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2F1073" class="sr_footer-socials-list--link">
          <img src="../../assets/Images/linkdin.png" alt="linkedin" class="sr_footer-socials-list--img">
        </a>
      </li>
      <li class="sr_footer-socials-list--item">
        <a href="https://twitter.com/EYnews" class="sr_footer-socials-list--link">
          <img src="../../assets/Images/twitter.png" alt="twitter" class="sr_footer-socials-list--img">
        </a>
      </li>
      <li class="sr_footer-socials-list--item">
        <a href="https://www.youtube.com/ernstandyoungglobal" class="sr_footer-socials-list--link">
          <img src="../../assets/Images/youtube.png" alt="youtube" class="sr_footer-socials-list--img">
        </a>
      </li>
    </div>
  </div>
</div>
